In [1]:
# Types of variables in Python

num = 9
print(num)
print(type(num))

9
<class 'int'>

In [2]:
string_a = "Hellp World"
print(string_a)
print(type(string_a))

Hellp World
<class 'str'>

In [3]:
flt = 5.9
print(flt)
print(type(flt))

5.9
<class 'float'>

In [4]:
boolean_1 =  True
print(boolean_1)
print(type(boolean_1))

True
<class 'bool'>

In [5]:
none_type = None
print(none_type)
print(type(none_type))

None
<class 'NoneType'>

In [8]:
complx = 2+5j
print(complx)
print(type(complx))

(2+5j)
<class 'complex'>

## Collective data types

In [9]:
tup = (1,2,3,5,'a','b','c')
print(tup)
print(type(tup))

(1, 2, 3, 5, 'a', 'b', 'c')
<class 'tuple'>

In [10]:
dict_1 = {
    "Titanic":"Hollywood",
    "Uri":"Bollywood",  
}
print(dict_1)
print(type(dict_1))

{'Titanic': 'Hollywood', 'Uri': 'Bollywood'}
<class 'dict'>

In [11]:
list_1 = [11,12,13,14,5]
print(list_1)
print(type(list_1))

[11, 12, 13, 14, 5]
<class 'list'>

In [12]:
set_1 = {11,12,13,13,14,13,55,67}
print(set_1)
print(type(set_1))

{67, 11, 12, 13, 14, 55}
<class 'set'>

## Data Type Conversion

In [25]:
# int(x [,base]) Converts x to an integer. The base specifies the base if x is a string.

num_2 = int(flt,)
print(num_2)

5

In [17]:
# float(x)

flt_2 = float(num)
print(flt_2)

9.0

In [20]:
#complex(real [,imag])

complx_2 = complex(3 ,4)
print(complx_2)

(3+4j)

In [26]:
# str(x)

n1 = 12
s1 = str(n1)
print(s1)
type(s1)

12

str

In [27]:
# repr(x) Converts object x to an expression string.

pi = 3.14
r1 = repr(pi)
print(r1)
print(type(r1))

3.14
<class 'str'>

In [30]:
# eval(str) Evaluates a string and returns an object.

s1 = '[12,13,14]'
s_test = eval(s1)
print(s_test)

[12, 13, 14]

In [31]:
# tuple(s)

s2 = "Hello World"
t1 = tuple(s2)
print(t1)

('H', 'e', 'l', 'l', 'o', ' ', 'W', 'o', 'r', 'l', 'd')

In [32]:
# list(s)

se1 = {11,4,56,8,9,0,44,1}
li1 = list(se1)
print(li1)

[0, 1, 4, 8, 9, 11, 44, 56]

In [34]:
# set(s)

dic1= {"Harry":12,"John":44}
se2 = set(dic1.items())
print(se2)

{('Harry', 12), ('John', 44)}

In [44]:
# dict(d)

d1 = {'2BHK': '75L','3BHK':'99L','1BHK':'59L','1RK':'33L'}
d2= dict(d1)
print(d2)

{'2BHK': '75L', '3BHK': '99L', '1BHK': '59L', '1RK': '33L'}

In [45]:
# ord(x) Converts a single character to its integer value.

s3 = 'a'
num_val = ord(s3)
print(num_val)

97

In [50]:
# hex(x) Converts an integer to a hexadecimal string.

hexa_val = hex(10)
print(hexa_val)

0xa

In [52]:
# oct(x) Converts an integer to an octal string.

oct_val = oct(10)
print(oct_val)

0o12

In [54]:
list_a = [1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20]

for val in list_a:
    print(hex(val))

0x1
0x2
0x3
0x4
0x5
0x6
0x7
0x8
0x9
0xa
0xb
0xc
0xd
0xe
0xf
0x10
0x11
0x12
0x13
0x14

In [55]:
list_a = [1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20]

for val in list_a:
    print(oct(val))

0o1
0o2
0o3
0o4
0o5
0o6
0o7
0o10
0o11
0o12
0o13
0o14
0o15
0o16
0o17
0o20
0o21
0o22
0o23
0o24

In [56]:
list_b =['a','b','c','d','e','A','B','C','D','E']

for val in list_b:
    print(ord(val))

97
98
99
100
101
65
66
67
68
69